page-candidate-search {
    ion-header{
        .addBtn{
            display: flex;
            background-color: #eee;
             color: #0c0909;
            padding: 5px;
            .btn1{
                background: #bdbdbd;
                 color: black;
                 flex: 1
            }
            h1{
                font-size: 18px;
                //font-weight: bold;
                flex: 8;
                margin: 10px;
            }
           
        }
        .addBtn2{
            display: flex;
            background-color: #eee;
            color: #0c0909;
            button{
                flex: 1;
                float: right;
                color: #fff;
                border-color:#fff;
                background-color: #343434;
                margin-right: 10px;
               // max-width: 50px;
                
            }
            .btn2{
                flex: 1;
                float: right;
            }
        }
       
    }

    .fieldBorder{
        border: 2px groove;
        //width: 800px;
        float: left;
        margin-bottom: 10px;
    }
    .label-md-dark, .item-select {
        font-weight: bold;
        font-size: 14px;
    }
    .label-md[stacked], .label-md[floating] {        
        font-size: 15px !important;
        margin-left: 10px !important;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
        margin-left: 10px;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        box-shadow: none !important; 
    }
    .button-md {
        font-size: 1.2rem !important
    }
    .list-md .item-input:last-child {
        border-bottom: none !important;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        box-shadow: none !important; 
    }
    .select-md {       
        height: 45px !important;
    }
    
    .label-ios[floating] {
        margin-left: 10px;
    }
    .select-text {
        margin-left: 10px;
    }
    .label-ios{
        margin-left: 18px;
    }
    .addContact{
        height: 2.0rem;
        margin-top: -4px;
        margin-left: 30px;
        //float: right;
    }
    .checkbox-ios .checkbox-icon {
        border-radius: 20%;
        width: 16px;
        height: 16px;
        position: initial;
    }
    .skillAdd{
        width: 50px !important;
        height: 2.5rem !important;
        margin-top: -6px !important;
        float: right !important;
    }
    .labelBorder{        
        font-size: 15px;
        float: left;
        margin-right: 25px;
    }   
    .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input {
        margin-left: 12px !important;
        font-size: 15px !important;
    }
    ion-card{
       
        ion-card-content{
           
            ion-list{
                ._row{
                    ._text{
                        color:black;
                        font-size:17px;
                        margin-left: 2px;
                    }
                    
                }
                .inc-dec-btn-txt{
                    display: flex;
                    h1{
                        flex: 3;
                        margin-top: 10px;
                        font-size:17px;
                        margin-left: 14px;
                    }
                    .inc-dec-btn{
                        display: flex;
                        flex: 1;
                        text-align: right;
                        font-size:17px;
                        button{
                            width:60px;
                        }
                    }
                }

                .tsDetails{
                    border: solid 1px #b5b5b5;
                    padding-bottom: 10px;
                    margin:5px;
                    padding-left: 0px;
                    display: flex;
                }
                .payRateDetails{
                    border: solid 1px #b5b5b5;
                    padding-bottom: 10px;
                    margin:5px;
                    padding-left: 0px;
                    margin-top: 30px;
                    
                }
                .headerClass{
                    font-size: 15px; 
                    color: #222; 
                    padding: 16px; 
                    padding-bottom: 0px;
                }
               
            //    hr{
            //        background-color: red;
            //    }
            }
        }
    }
}
.content-md hr {
    background-color:#b5b5b5;
    padding-top: 6px
}