<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <main-header></main-header>
  <div class="addBtn"> 
          <h1>Select Technical Screener from the list</h1>
        
  </div>
  <ion-row center >
       
    <ion-col>
       <ion-searchbar
       [(ngModel)]="myInput">
     </ion-searchbar>
   </ion-col> 
   
   
 </ion-row>  
</ion-header>


<ion-content>
  
  <ion-list>
          

           <div class="body" *ngFor="let tech of userSet  | search : myInput"  >
            
              <ion-card >
                <ion-card-content>
                    
                    <div class="card-body">
                        <div class="left"  *ngIf="tech.imageUrl == null ">
                          <img  src="assets/imgs/user.png"  class="image"/>
                        </div>
                        <div class="left"  *ngIf="tech.imageUrl != null ">
                          <img  src="{{tech.imageUrl}}"  class="image"/>
                        </div>
                        <div class="right">
                          <button (click)="editUser(tech.id)"> {{ tech.firstName }} {{tech.lastName}}</button>
                          
                          <!-- <div *ngIf="tech.ratings != null ">
                            <ionic3-star-rating 
                                  activeIcon = "ios-star"
                                  defaultIcon = "ios-star-outline"
                                  activeColor = "#488aff" 
                                  defaultColor = "red"
                                  readonly="false"
                                  [rating]="tech.ratings">
                            </ionic3-star-rating>
                          </div>
                          <div *ngIf="tech.ratings == null ">
                            Ratings Not Available
                          </div> -->
                          <span *ngIf="tech.avgTime != null">Response Time: {{tech.avgTime}}</span>
                          <span *ngIf="tech.avgTime == null">Response Time: NA</span>
                        </div>
                        <ion-list radio-group [(ngModel)]="id">
                          <ion-radio [value]="tech.id"  (click)="radioClicked(tech.id)"></ion-radio>
                        </ion-list>   
                    </div>
                    
                  </ion-card-content>
                  
            </ion-card>
            
            
          </div>           
          


  </ion-list>
</ion-content>
<ion-footer class="commonFooter">
  <button ion-button full color='danger' (click)='goBack()'>Back</button>
  <button ion-button full color='dark' (click)="submitData()">Submit</button>
</ion-footer>