<ion-header>
  <main-header></main-header>
  <div class="addBtn"  *ngIf="currentReqActions.actions.includes('addcandidates')"> 
       <button ion-button class="btn1" outline (click)="goBack()"><ion-icon name="undo" ></ion-icon></button>
       <h1>Candidates</h1>        
        <button ion-button color="dark" class="btn2" outline (click)="AddCandidateDb()">+ Db</button>
        <button ion-button color="dark" class="btn2" outline (click)="gotoAddCandidate()">+ New</button>
  </div>
   <div class="addBtn" *ngIf="!currentReqActions.actions.includes('addcandidates')"> 
    <button ion-button color="grey"  style="background: #bdbdbd;color: black;" outline (click)="goBack()"><ion-icon name="undo" ></ion-icon></button>
  </div> 
  
  <ion-row center >
     
      <ion-col >
         <ion-searchbar
         [(ngModel)]="myInput">
       </ion-searchbar>
     </ion-col> 
     
     
   </ion-row> 
</ion-header>


<ion-content>
  
  <ion-list>
          

          <div class="body"  *ngFor="let candidate of candidates| search : myInput;let i= index" >
             
            <div class="body-left col">
                  
                <div ion-item >
                    <h1 ><span class=""></span>[{{ i + 1 }}] &nbsp;  {{candidate.firstName }} {{candidate.lastName}}</h1>
                      
                    <div class="inner-body" >
                        <label class="inner-left">Added By :  <span >{{candidate.addedBy}}</span></label> 
                    </div>
                     <div class="inner-body" >
                        <label class="inner-left">Status :  <span >{{candidate.reasonStatus}}</span></label> 
                    </div> 
                    <div class="inner-body" >
                          <label class="inner-left">Email id :  <span >{{candidate.emailId}}</span></label> 
                    </div>
                </div> 
                <ion-list *ngIf="candidate.totalRounds.length > 1">
                  <ion-item class="_row">
                     <ion-label floating>Select Round : </ion-label>
                     <ion-select  [(ngModel)]="roundNo" (ngModelChange)="onSelectChange($event,candidate.candidateId)">
                          <ion-option [value]="i" *ngFor="let i of candidate.totalRounds; let idx = index" selected="{{idx==0}}">Round{{i.i}}</ion-option> 
                     </ion-select>
                   </ion-item>        
                 </ion-list> 
                 
                  <div ion-item style="margin-top: -16px" >
                 
                    <h1 ><span class="">Screening status :</span> {{candidate.status }} </h1>    
                    <div class="inner-body" >
                        <label class="inner-left" *ngIf="candidate.submissionType == 'Zoom' || candidate.submissionType == 'Skype'">Screening Type :  <span >{{candidate.submissionType}}</span></label> 
                    </div>
                    <div class="inner-body" >
                        <label class="inner-left" *ngIf="candidate.submissionType == 'Prospect'"><span >Screening not initiated in HookedOn Talent</span></label> 
                    </div>
                    <div class="inner-body" >
                        <label class="inner-left" *ngIf="candidate.submissionType != 'Zoom' && candidate.submissionType != 'Skype' && candidate.submissionType != 'Prospect'">Screening Type :<span *ngIf="candidate.status !=='Answered'">One Way</span></label> 
                    </div>
                    <div class="inner-body" >
                        <label class="inner-left">Date :  <span >{{candidate.updated_DATE | date :'medium'}} IST</span></label> 
                    </div>
                    <div class="inner-body" *ngIf="candidate.linkExpired == true">
                          <label class="inner-left"> <span style="color:red" >Link Expired</span></label> 
                    </div>
                    <div class="inner-body" *ngIf="candidate.linkExpired == false" >
                      <label class="inner-left"> <span style="color:green" >Link Active</span></label> 
                    </div>
                  </div> 
                   
               <!-- <div *ngIf="selectedCandidates.roundNo >1">
                <div ion-item style="margin-top: -16px"  *ngIf="hideMe == true" >
                 
                  <h1 ><span class="">Screening statusdddddddddddd :</span> {{selectedCandidates.status }} </h1>    
                  <div class="inner-body" >
                      <label class="inner-left" >Screening Type :  <span >{{selectedCandidates.submissionType}}</span></label> 
                  </div>
                 
                  <div class="inner-body" >
                      <label class="inner-left">Date :  <span >{{selectedCandidates.screeningDate | date :'medium'}} IST</span></label> 
                  </div>
                 
                </div> 
               </div> -->
              
             
            </div>
                
              <div class="actionMenu">   
                  <button ion-item (click)="presentPopover($event,candidate)" >  
                          <ion-icon ios="ios-menu" md="md-menu" class="popbtn"></ion-icon>
                  </button>  
              </div>
            
          </div>
        
         
          <div class="row" *ngIf="(currentReqActions.actions.includes('addcandidates')) && (candidates.length == 0) "> 
            <div class="col">
              <div style="text-align: center; margin-top:100px;">
                  <!-- <h3>No Candidates are added to this requirement</h3> -->
                  <h3>Please add candidates</h3>
              </div>  
            </div>
          </div>
         
          <div class="row" *ngIf="!currentReqActions.actions.includes('addcandidates')"> 
            <div class="col">
              <div style="text-align: center; margin-top:100px;">
                  <h3>Cannot add candidates Question's not approved by Account Managert</h3>
                 
              </div>
                
            </div>
             
          </div>
      
            
  </ion-list>
  
    
</ion-content>