<!-- Generated template for the RequirementPopoverComponent component -->
<ion-list  >
    <!-- <button ion-item (click)="editUser()">
      Details/Edit
    </button> -->
    <button ion-item (click)="candidateReq()">
      Candidates
    </button>
    <button ion-item (click)="questionAdd()">
        Questions
     </button>
     <button ion-item (click)="addResources()">
        Add/view Resources
      </button>
      <button  *ngIf="lastMileStone == 'CandidateAdded'" ion-item (click)="addNoCandidates()">
          Add no more Candidates
      </button>
      <button  *ngIf="addNoMoreCandidates == 'Yes' && lastMileStone == 'CandidateAdded'" ion-item (click)="allowCandidates()">
         Allow Adding Candidates
        </button>
      <button ion-item (click)="closeReq()">
          Close Requirement
        </button> 
      <!-- <button ion-item (click)="viewLogs()">
           View Logs
      </button>  -->
      <button ion-item (click)="ccReq()">
           CC Requirement
      </button> 
  </ion-list>