page-edit-candidate-side {
	.fieldBorder {
		border: 2px groove;
	}
	.label-md-dark,
	.item-select {
		font-weight: bold;
		font-size: 14px;
	}
	.label-md[stacked],
	.label-md[floating] {
		font-size: 15px !important;
		margin-left: 10px !important;
	}
	.item-label-stacked .text-input-md,
	.item-label-floating .text-input-md {
		margin-left: 10px;
	}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
		box-shadow: none !important;
	}
	.button-md {
		font-size: 1.2rem !important
	}
	.list-md .item-input:last-child {
		border-bottom: none !important;
	}
	.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
		box-shadow: none !important;
	}
	.select-md {
		height: 38px !important;
	}
	.label-ios[floating] {
		margin-left: 10px;
	}
	.select-text {
		margin-left: 10px;
	}
	.label-ios {
		margin-left: 18px;
	}
	.addContact {
		height: 2.0rem;
		margin-top: -4px;
		margin-left: 30px;
		//float: right;

	}
	.checkbox-ios .checkbox-icon {
		border-radius: 20%;
		width: 16px;
		height: 16px;
		position: initial;
	}
	.skillAdd {
		width: 50px !important;
		height: 2.5rem !important;
		margin-top: -6px !important;
		float: right !important;
	}
	.resumeAdd {
		width: 120px !important;
		height: 2.5rem !important;
		margin-top: -2px !important;
		float: right !important;
	}
	.labelBorder {
		font-size: 15px;
	}
	.item-ios.item-label-stacked .text-input,
	.item-ios.item-label-floating .text-input {
		margin-left: 12px !important;
		font-size: 15px !important;
	}
	ion-header {
		.addBtn {
			display: flex;
			background-color: #eee;
			color: #0c0909;
			padding: 5px;
			.btn1 {
				background: #bdbdbd;
				color: black;
				flex: 1
			}
			h1 {
				font-size: 18px;
				//font-weight: bold;
				flex: 3;
				margin: 10px;
			}
			button {
				flex: 4;
				float: right;
				color: #fff;
				border-color: #fff;
				background-color: #343434;
				margin-right: 10px;
				max-width: 50px;
			}
		}
	}
	ion-content {
		ion-card {
			ion-card-content {
				ion-list {
					._row {
						._text {
							color: black;
							font-size: 17px;
							margin-left: 2px
						}
					}
					.list-md .item-input:last-child {
						border-bottom: none;
					}
					
					.tsDetails {
						.item-inner {
							padding: 0;
						}
						._row {
							padding-left: 4px;
						}
						border:solid 1px #b5b5b5;
						padding-bottom:10px;
						margin:5px;
						padding-left:0px;
						display:flex;
					}
					.payRateDetails {
						border: solid 1px #b5b5b5;
						padding-bottom: 10px;
						margin: 5px;
						padding-left: 0px;
					}
					.headerClass {
						font-size: 15px;
						color: #222;
						padding: 16px;
						padding-bottom: 0px;
					}
					.tesBottom {
						display: flex;
						border-bottom: none !important;
						.left {
							flex: 1;
							border: solid 1px #ccc;
							margin: 5px;
						}
						.right {
							flex: 1;
							border: solid 1px #ccc;
							margin: 5px;
						}
					}
				}
			}
		}
	}
}
.card-header-md {
	/* font-size: 1.8rem; */
	color: #222;
	padding: 16px;
	font-size: 20px;
}

















// page-edit-candidate-side {
// 	ion-content {
// 		ion-card {
// 			ion-card-header {
// 				color: #000;
// 				font-weight: bold;
// 				//font-size: 20px;
// 				margin-left: 13px;
// 			}
// 			ion-card-content {
// 				ion-list {
// 					.inputlist {
// 						font-size: 20px
// 					}
// 					.item-inner {
// 						border-bottom: solid 1px #ccc !important;
// 					}
// 					margin-bottom:10px;
// 					margin-top:20px;
// 					ion-label {
// 						// color: #000 !important;
// 						font-size: 17px;
// 					}
// 					ion-input {
// 						color: #000;
// 						font-size: 17px;
// 					}
// 				}
// 				.list-md .item-input:last-child {
// 					border-bottom: none;
// 				}
// 				.uploadSection2 {
// 					margin-top: 10px !important;
// 					padding-bottom: 0px !important;
// 				}
// 				.uploadSection {
// 					padding: 10px;
// 					h1 {
// 						margin: 0px;
// 						font-size: 17px;
// 					}
// 					button {
// 						margin-top: 5px;
// 						text-transform: capitalize;
// 					}
// 					.inc-dec-btn-txt {
// 						display: flex;
// 						h1 {
// 							flex: 3;
// 							margin-top: 10px;
// 						}
// 						.inc-dec-btn {
// 							display: flex;
// 							flex: 1;
// 							text-align: right;
// 							button {
// 								width: 60px;
// 							}
// 						}
// 					}
// 				}
// 				.tsDetails {
// 					border: solid 1px #000;
// 					padding: 20px;
// 					margin-top: 10px
// 				}
// 				.tesBottom {
// 					display: flex;
// 					border-bottom: none !important;
// 					.left {
// 						flex: 1;
// 						border: solid 1px #ccc;
// 						margin: 5px;
// 					}
// 					.right {
// 						flex: 1;
// 						border: solid 1px #ccc;
// 						margin: 5px;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

