
<ion-header>
  <main-header></main-header>
  <div class="addBtn"> 
          <h1>Select Recruiters from the list</h1>
        
  </div>
  <ion-row center >
       
    <ion-col>
       <ion-searchbar
       [(ngModel)]="myInput">
     </ion-searchbar>
   </ion-col> 
   
   
 </ion-row>  
</ion-header>


<ion-content>
  
  <ion-list>
          
    
            <div class="body" *ngFor="let rec of recruiter  | search : myInput"  >
            
              <ion-card >
                <ion-card-content>
                    <div class="card-body">
                        <div class="left" *ngIf="rec.imageUrl == null || rec.imageUrl == undefined">
                          <img  src="assets/imgs/user.png"  class="image"/>
                        </div>
                        <div class="left" *ngIf="rec.imageUrl != null || rec.imageUrl != undefined">
                          <img  src="{{rec.imageUrl}}"  class="image"/>
                        </div>
                        <div class="right">
                          <button (click)="editUser(rec.id)"> {{ rec.firstName }} {{rec.lastName}}</button>
                          
                          <span> Recruiter</span>
                        </div>
                        <ion-list radio-group [(ngModel)]="id">
                          <ion-radio [value]="rec.id"  (click)="radioClicked(rec.id)"></ion-radio>
                        </ion-list>   
                    </div>
                    
                  </ion-card-content>
                  
            </ion-card>
            
          </div>            
          


  </ion-list>
</ion-content>
<ion-footer class="commonFooter">
  <button ion-button full color='danger' (click)='goBack()'>Back</button>
  <button ion-button full color='dark' (click)="submitData()">Submit</button>
</ion-footer>