<ion-list  >
  
  <button ion-item (click)="editCandidate()">
    Details/Edit
  </button>
  <button ion-item (click)="responseCandidate()" *ngIf="status!=='Email Sent'  && candidateEnableDisable ==true" >
      Candidate Response
   </button>
   <button ion-item (click)="candidateFeedback()"  *ngIf="(submissionType == 'Skype' || submissionType == 'Zoom') && status != 'Answered'">
      Candidate Feedback Form
   </button>
   <button ion-item (click)="candidateHistory()" >
      History
   </button>
   <button ion-item (click)="candidateRemove()" >
      Remove
   </button>
   <button ion-item (click)="disableCandidate()" *ngIf="candidateEnableDisable == true && submitToClient!=='Yes' " >
     Disable
   </button>
   <button ion-item (click)="disableCandidate()" *ngIf="candidateEnableDisable == false && submitToClient!=='Yes' " >
    Enable
  </button>
   <button ion-item (click)="getPermission()"  >
      Download Resume
   </button>
   <button ion-item (click)="uploadResume()"  >
      Preview Resume
  </button> 
   <button ion-item (click)="RescheduleInterview()"  >
      Reschedule Interview
   </button>
    <ion-list *ngIf="hideMe">
      <div *ngIf="candidate.submissionType == 'Zoom' && candidate.status == 'Email Sent'">
          <button ion-item class="link" (click)="reSchedule()">Re-Schedule interview</button>
          <button ion-item class="link" (click)="reSendEmail()">Re-Send Email</button>
          <button ion-item class="link" (click)="reGenerate()">Re-Generate Link</button>
          <button *ngIf="candidate.cancelReason == null || candidate.cancelReason == 'null' || candidate.cancelReason == ''" ion-item class="link" (click)="cancelMeeting()">Cancel Meeting</button> 
      </div>
     
      <div *ngIf="candidate.status =='Prospect'">
          <button ion-item class="link" (click)="reScreening()">Schedule Screening</button> 
      </div>
      <div *ngIf="candidate.submissionType == 'One Way' && currentReqActions.actions[0] != 'reopenrequirement'" >
        <button  *ngIf="(candidate.status=='Email Not Send') || (candidate.status=='Email Not Sent') || (candidate.status=='Email Sent' && loginUser.role=='Admin') || (candidate.status=='Email Sent' && loginUser.role=='VpOfSales') || (candidate.status=='Email Sent' && loginUser.role=='ManagerOfRecruiting')" ion-item class="link" (click)="reGenEmail()">Re-Send Email</button>
      </div>
    </ion-list>  
   <button ion-item (click)="addNotes()" >
     Add Notes
   </button>

   <button  ion-item (click)="regenerateLink()"  *ngIf="linkCount<3 && candidateEnableDisable == true && submitToClient =='No' && submissionType !=='Prospect'">
     Regenerate link:{{linkCount}}
   </button>
   <button ion-item (click)="reactivateLink()" *ngIf="status=='In Progress'  && candidateEnableDisable == true">
     Reactivate link
   </button>
   <button ion-item (click)="blacklistedCandidate()" *ngIf="isBlackListed=='No'"  >
     Blacklisted Candidate
   </button>
  
</ion-list>
