<!-- Generated template for the RequirementPopoverComponent component -->
<ion-list  >
  
  <button ion-item (click)="editCandidate()">
    Details/Edit
  </button>
  <button ion-item (click)="responseCandidate()" *ngIf="status!=='Email Sent'  && candidateEnableDisable =='Enable'" >
      Candidate Response
   </button>
   <button ion-item (click)="candidateFeedback()"  *ngIf="(submissionType == 'Skype' || submissionType == 'Zoom') && status != 'Answered'">
      Candidate Feedback Form
   </button>
   <button ion-item (click)="candidateHistory()" >
      History
   </button>
   <button ion-item (click)="candidateRemove()" >
      Remove
   </button>
   <button ion-item (click)="disableCandidate()" *ngIf="candidateEnableDisable =='Enable' && submitToClient!=='Yes' " >
     Disable
   </button>
   <button ion-item (click)="downloadResume()"  >
      Download Resume
   </button>
   <button ion-item (click)="addNotes()" >
     Add Notes
   </button>

   <button  ion-item (click)="regenerateLink()"  *ngIf="linkCount<3 && candidateEnableDisable =='Enable' && submitToClient =='No' && submissionType !=='Prospect'">
     Regenerate link:{{linkCount}}
   </button>
   <button ion-item (click)="reactivateLink()" *ngIf="status=='In Progress'  && candidateEnableDisable =='Enable'">
     Reactivate link
   </button>
   <button ion-item (click)="blacklistedCandidate()" *ngIf="isBlackListed=='No'"  >
     Blacklisted Candidate
   </button>
  
</ion-list>