<!--
  Generated template for the GeneralQuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <main-header></main-header>
    <div class="addBtn"> 
          <button ion-button class="btn1" outline (click)="goBack()"><ion-icon name="undo" ></ion-icon></button>
          <button ion-button  class="btn3" outline (click)="gotoGeneral()" >General Questions</button>
          <button ion-button  class="btn2" outline >Technical Questions</button>
          
    </div>
</ion-header>


<ion-content padding>
    
      <ion-card *ngFor ="let question of technicals;let i=index">
          <ion-card-content>      
                <div class="container">
                    <div class = "row"  >
                        <div class = "col" ><b>{{i + 1}}. {{question.questionName}} </b><br>
 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <b>Type</b> : <span>{{question.type}}</span>
                        </div>
                        <div class="col">
                            <b>Author</b> : <span>{{question.createdUserName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <b>Domain</b> : <span>{{question.domain}}</span>
                        </div>
                        <div class="col">
                            <b>Level</b> : <span>{{question.level}}</span>
                        </div>
                    </div>
                </div>
          </ion-card-content>
      </ion-card>
      <div class="row" *ngIf="technicals == '' || technicals == 'undefined'">
          <div class="col">
              <h1>No records found</h1>
          </div>
      </div>
</ion-content>

