<!--
  Generated template for the AddUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <main-header></main-header>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header >
          User Details
        </ion-card-header>
      
        <ion-card-content>
            <ion-list >
                <ion-item class="_row">
                    <ion-label floating>Role<span class="astric">*</span> : </ion-label>
                    <ion-select [(ngModel)]="objRole">
                      <ion-option value="" disabled=true>Select</ion-option>
                      <ion-option value="{{role}}" *ngFor="let role of rolls">{{role}}</ion-option>
                    </ion-select>
                </ion-item>
               
                <ion-item  class="_row">
                  <ion-label floating >First Name<span class="astric">*</span> : </ion-label>
                  <ion-input type="text"  [(ngModel)]="first_name" ></ion-input>
                  
                </ion-item>
            
                
               <ion-item  class="_row">
                <ion-label floating >Last Name<span class="astric">*</span> : </ion-label>
                    <ion-input type="text"  [(ngModel)]="last_name"></ion-input>
                    
                  </ion-item>
                
                  <ion-item  class="_row"> 
                    <ion-label floating >User Name<span class="astric">*</span> : </ion-label>
                    <ion-input type="text"  [(ngModel)]="user_name"></ion-input>
                  </ion-item>

                  <ion-item  class="_row">
                    <ion-label floating >Email Id<span class="astric">*</span> : </ion-label>
                      <ion-input type="email"  [(ngModel)]="email"></ion-input>
                    </ion-item>
                  
                    <ion-item  class="_row">
                        <ion-label floating >Contact<span class="astric">*</span> : </ion-label>
                      <ion-input type="tel" [(ngModel)]="contact" maxLength="10"></ion-input>
                    </ion-item>

                    <ion-item class="_row" *ngIf="objRole == 'AccountManager'">
                        <ion-label>Reporting VP of Sales<span class="astric">*</span> : </ion-label>
                        <ion-select [(ngModel)]="objReportingVpOfSales">
                          <ion-option value="" disabled=true>Select</ion-option>
                          <ion-option value="{{vos.id}}"  *ngFor="let vos of vosData">{{vos.firstName}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item class="_row" *ngIf="objRole == 'AccountManager'">
                        <ion-label>Reporting Mgr. of Recruiting<span class="astric">*</span> : </ion-label>
                        <ion-select [(ngModel)]="objReportingMgrOfRec">
                            <ion-option value="" disabled=true >Select</ion-option>
                            <ion-option value="{{mor.id}}"  *ngFor="let mor of morData">{{mor.firstName}}</ion-option>
                        </ion-select>
                    </ion-item>
              </ion-list>
        </ion-card-content>
      
      </ion-card>
      <ion-card *ngIf="objRole == 'TechnicalScreener'">
            <ion-card-header>
                Technical Screener Details
            </ion-card-header>
            <ion-card-content>
                
                <ion-list >
                    <div class="uploadSection">
                      <div class="inc-dec-btn-txt">
                          <h1>Technical Screener Types</h1>
                          <div class="inc-dec-btn">
                              <button ion-button full color='danger' (click)="addskillValue()">+</button>
                              <button ion-button full color='dark' (click)="deleteskillValue()" >-</button>
                          </div>
                      </div>
                    </div>
                    <div class="tsDetails"  *ngFor="let skill of skillArray;let i = index;" >
                        <ion-item class="_row "   >
                            <ion-label floating>Skill Type : </ion-label>
                            <ion-select [(ngModel)]="skill.types">
                                     <ion-option value="PrimarySkill" >Primary skills</ion-option>
                                    <ion-option value="SecondarySkill" >Secondary Skills</ion-option> 
                            </ion-select>
                        </ion-item>
                        <ion-item  class="_row">
                            <ion-label floating>Skill Name	 : </ion-label>
                            <ion-input type="text" [(ngModel)]='skill.skillname'></ion-input>
                          </ion-item> 
                        
                        <ion-item  class="_row"> 
                        <ion-label floating >Years : </ion-label>
                        <ion-input type="text" [(ngModel)]='skill.years' ></ion-input>
                        </ion-item>
    
                        <ion-item  class="_row">
                            <ion-label floating>Months : </ion-label>
                            <ion-input type="text" [(ngModel)]='skill.months'></ion-input>
                        </ion-item>
                         
                              
                    </div>
                    <div class="uploadSection  uploadSection2">
                        <h1 floating>Rate Per Screening<span class="astric">*</span> : </h1>
                    </div>
                    <ion-item  class="_row tesBottom">
                        <ion-input class="left" type="text" [(ngModel)]=ratings></ion-input>
                        <ion-select class="right" [(ngModel)]="range"  >
                            <ion-option value="Dollar">USD</ion-option>
                            <ion-option value="INR">INR</ion-option>
                        </ion-select>
                    </ion-item> 
                      
                  </ion-list>
            </ion-card-content>
           
          </ion-card>

       <ion-card>
          <ion-card-header>
              Address (Optional)
          </ion-card-header>
          <ion-card-content>
              <ion-list>
                  <ion-item class="_row">
                    <ion-label floating>Alternate Contact : </ion-label>
                    <ion-input type="tel"  maxlength="10" clearInput  [(ngModel)]="altcontact"></ion-input>
                  </ion-item>
                
                  <ion-item  class="_row">
                    <ion-label floating>Address Line 1 : </ion-label>
                    <ion-input type="text" [(ngModel)]="addressone"></ion-input>
                  </ion-item>
  
                  <ion-item  class="_row">
                      <ion-label floating>Address Line 2 : </ion-label>
                      <ion-input type="text" [(ngModel)]="addresstwo"></ion-input>
                    </ion-item>
                  
                    <ion-item  class="_row"> 
                      <ion-label floating>Zip Code : </ion-label>
                      <ion-input type="number" [(ngModel)]="zipcode"></ion-input>
                    </ion-item>
  
                    <ion-item  class="_row">
                        <ion-label floating>City : </ion-label>
                        <ion-input type="text" [(ngModel)]="city" ></ion-input>
                      </ion-item>
                    
                      <ion-item  class="_row">
                        <ion-label floating>State : </ion-label>
                        <ion-input type="text" [(ngModel)]="state"></ion-input>
                      </ion-item>

                      <ion-item  class="_row">
                          <ion-label floating>Country : </ion-label>
                          <ion-input type="text" [(ngModel)]="country"></ion-input>
                        </ion-item>
                </ion-list>
          </ion-card-content>
        
        </ion-card>

       
        <ion-card>
            <ion-card-header>
                File Upload
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <div class="uploadSection">
                      <h1>Resume : </h1>
                      <button ion-button color="light" full>Browse</button>
                    </div>
                    <div class="uploadSection">
                        <h1>Profile Image : </h1>
                        <button ion-button color="light" full>Browse</button>
                      </div>
                  </ion-list>
            </ion-card-content>
          
          </ion-card> 
</ion-content>

<ion-footer class="commonFooter">
    <button ion-button full color='danger' (click)='goBack()'>Cancel</button>
    <button ion-button full color='dark' (click)="submit()">Submit</button>
</ion-footer>
