page-users {
    ion-header{
        .addBtn{
            display: flex;
            //background-color: #4893ffa8;
            background-color: #eee;
            color: #0c0909;
            padding: 5px;
            .btn1{
                background: #bdbdbd;
                 color: black;
                 flex: 1
            }
            h1{
                font-size: 18px;
                font-weight: bold;
                flex: 4;
                margin: 10px;
            }
            button{
                flex: 3;
                float: right;
                color: #fff;
                border-color:#fff;
                background-color: #343434;
                
            }
        }
    }
    
    ion-content{
        
        ion-list{
                .body{
                    border-bottom: 1px solid #dedede;
                    display: flex;
                    .body-left{
                        flex: 5;
                        button{
                            .item-inner{
                                border: none;
                            }
                            .popbtn{
                                margin-bottom: 2px;
                                
                            }
                            h1{
                                font-size: 16px;
                                font-weight: bold;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                width: 200px;
                            }
                            span{
                                font-size: 14px;
                            }
                            .inner-body{
                                display: flex;
                                .inner-left{
                                    flex: 1;
                                    span{
                                        font-weight: bold;
                                        color: red;
                                        font-size: 14px;
                                    }
                                }
                                .inner-right{
                                    flex: 1;
                                    text-align: right;
                                    span{
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    .body-right{
                        flex: 1;
                        position: relative;
                        button{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            .item-inner{
                                border: none;
                                text-align: right;
                            }
                            padding-left: 0px;
                            ion-icon{
                                padding: 10px;
                            }
                        }
                        
                    }
                }

        }

        .fab-btn{
                position: fixed;
                bottom: 0;
                right: 0;
                margin: 6px;
                margin-right: 34px;
                button{
                    width: 55px;
                    height: 55px;
                }
        }
    }
}
