<!--
  Generated template for the GeneralQuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- req questions -->
<ion-header>
    <main-header></main-header>
    <div class="addBtn"> 
          <button ion-button  class="btn1" outline (click)="goBack()"><ion-icon name="undo" ></ion-icon></button>
          <button ion-button  class="btn2" outline >General</button>
          <button ion-button  class="btn3" outline (click)="gotoTechnicals()">Technical</button>
    </div>
</ion-header>


<ion-content padding>


        <ion-list>       
 
                <div class="body" *ngFor="let question of generals;let i=index">
                 
                      <div class="">
                          
                          <button ion-item>
                              <h2 style="font-weight: 500"><span class="">[{{i + 1}}]</span> &nbsp;  {{question.questionName}}</h2>
                                
                              <div class="inner-body" >
                                  <label class="inner-left">Type :  <span >{{question.type}}</span></label> 
                              </div>
                              
                              <div class="inner-body" >
                                  <label class="inner-left">Author :  <span >{{question.createdUserName}}</span></label> 
                              </div>
                              
                          </button>   
                      
                     
                </div> 
                
                
                <!-- <div class="actionMenu">   
                    <button ion-item (click)="presentPopover($event,client)" >  
                            <ion-icon ios="ios-menu" md="md-menu" class="popbtn"></ion-icon>
                    </button>  
                </div> -->
                 
                   
                </div>          
                  
        </ion-list>

    
      <!-- <ion-card *ngFor ="let question of generals;let i=index">
          <ion-card-content>      
                <div class="container">
                    <div class = "row"  >
                        <div class = "col" ><b>{{i + 1}}. {{question.questionName}} </b><br>
 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <b>Type</b> : <span>{{question.type}}</span>
                        </div>
                        <div class="col">
                            <b>Author</b> : <span>{{question.createdUserName}}</span>
                        </div>
                    </div>
                </div>
          </ion-card-content>
      </ion-card> -->
</ion-content>

