<!-- Generated template for the MainHeaderComponent component -->
<ion-navbar hideBackButton>
    <div class="header">
      <div class="left">
        <ion-icon ios="ios-menu" md="md-menu" (click)="toggleMenu()"></ion-icon>
      </div>
      <div class="center">
        <img src="https://d2ue829my6ap69.cloudfront.net/images/Logo_white.png" alt="">
      </div>
      <div class="rigth">
          <ion-icon name="more" (click)="presentPopover($event)"></ion-icon>
      </div>
    </div>
  </ion-navbar>
