page-select-candidate-db-modal {

  .fieldBorder{
    border: 2px groove;
    font-size: 15px !important;
}
.datetime-text {
  margin-left: 10px;
}
.label-md-dark, .item-select {
    font-weight: bold;
    font-size: 14px;
}
.label-md[stacked], .label-md[floating] {        
    font-size: 15px !important;
    margin-left: 10px !important;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md {
    margin-left: 10px;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none !important; 
}
.button-md {
    font-size: 1.2rem !important
}
.list-md .item-input:last-child {
    border-bottom: none !important;
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    box-shadow: none !important; 
}
.select-md {       
    height: 38px !important;
}
.label-ios[floating] {
    margin-left: 10px;
}
.select-text {
    margin-left: 10px;
}
.label-ios{
    margin-left: 18px;
}
.addContact{
    height: 2.0rem;
    margin-top: -4px;
    margin-left: 30px;
    //float: right;
}
.checkbox-ios .checkbox-icon {
    border-radius: 20%;
    width: 16px;
    height: 16px;
    position: initial;
}
.skillAdd{
    width: 50px !important;
    height: 2.5rem !important;
    margin-top: -6px !important;
    float: right !important;
}
.labelBorder{        
    font-size: 15px;
}   
.item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input {
    margin-left: 12px !important;
    font-size: 15px !important;
}
.content-ios hr {
  height: 1px !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
}


    ion-header{
      .addBtn{
        display: flex;
        background-color: #eee;
         color: #0c0909;
        padding: 5px;
        .btn1{
            background: #bdbdbd;
             color: black;
             flex: 1
        }
        h1{
            font-size: 18px;
            //font-weight: bold;
            flex: 3;
            margin: 10px;
        }
        button{
            flex: 4;
            float: right;
            color: #fff;
            border-color:#fff;
            background-color: #343434;
            margin-right: 10px;
            max-width: 50px;
            
        }
    }
        ion-navbar{
          .toolbar-background-md{
            background-color: #2c2e2f !important;
          }
        }
      }
      .header{
        
        .left{
          flex: 1;
        }
        .center{
          flex: 2;
          img{
            height: 43px;
          }
        }
        .rigth{
          flex: 1;
          ion-icon{
            color: #fff;
            font-size: 30px;
            float: right;
            padding: 10px;
          }
        }
      }
      ion-content{
        .body{
          .inner-body{
            margin-top:2px;
            margin-bottom: 3px;
           
          }
        
          .inputlist{
            color:black!important
          }
        }

        .row{
          padding: 20px;
          .col{
            select{
              width: 100%;
              height: 40px;
            }
          }
          
        }
      }

      ion-card{
       
        ion-card-content{
           
            ion-list{
                ._row{
                    ._text{
                        color:black;
                        font-size:17px;
                        margin-left: 2px
                    }
                    
                }
                .inc-dec-btn-txt{
                    display: flex;
                    h1{
                        flex: 3;
                        margin-top: 10px;
                        font-size:17px;
                        margin-left: 14px;
                    }
                    .inc-dec-btn{
                        display: flex;
                        flex: 1;
                        text-align: right;
                        font-size:17px;
                        button{
                            width:60px;
                        }
                    }
                }

                .tsDetails{
                    border: solid 1px #b5b5b5;
                    padding-bottom: 10px;
                    margin:5px;
                    padding-left: 0px;
                    display: flex;
                }
                .payRateDetails{
                    border: solid 1px #b5b5b5;
                    padding-bottom: 10px;
                    margin:5px;
                    padding-left: 0px;
                    
                }
                .headerClass{
                    font-size: 15px; 
                    color: #222; 
                    padding: 16px; 
                    padding-bottom: 0px;
                }
               
               
            }
        }
    }

    
}
